
p.classname {
color: blue;
}

.alpaca-array-actionbar.alpaca-array-actionbar-top {
  
   
}

.alpaca-container-label span:hover {
    
     color:#337ab7;
}

.alpaca-array-actionbar.alpaca-array-actionbar-top.btn-group {
    
            
    display: inline-block !important;
  
}

.fielddiv{
    
    background-color:#d1f5f8;
}


.listfielddiv{
    
    background-color:#6bc78b;
}